* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}


body {
        background-image: url('bg.jpg');
        background-size: 100% auto;       /* Covers the entire viewport */
        background-position: top center; /* Centers the image */
        background-repeat: no-repeat; /* Prevents repeating */
        
        margin: 0;                   /* Removes default margin */
        width: 100%;            /* Ensures full viewport height */
        min-height: 100vh; /* Ensures body covers full viewport height */
        height: auto;
        position: relative;
        color: #fff;
        line-height: 1.6;
}

a {
    color: #61dafb;
    text-decoration: none;
}

header.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    /* background: #0b132b; */
}

header .logo {
    font-size: 1.8rem;
    font-weight: bold;
}

header .nav-links a {
    margin: 0 15px;
    font-size: 1rem;
}

header .call-now span {
    color: #00ff9d;
}

.navbar button {
    padding: 1.2vh;
    border: none;
    border-radius: 8px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.foot h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.foot img{
    height: 3vh;
    margin-right: 35px;
}

.foot div{
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1rem;
}

.foot{
    padding: 1%;
    border-top: 1px solid rgba(255, 255, 255, 0.736);
}


.about-us{
    display: flex;
    width: 100%;
    /* margin-bottom: 5%; */
}
.desc{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    /* flex: 1; */
    /* margin-left: 20%; */
    /* margin-right: auto; */
    /* padding: 10%; */
    /* padding: 0% 0% 0% 20%; */
    padding-left: 20%;
}
.photo{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 80px 40px 40px 200px; */

    padding: 7% 6% 7% 9%;
}

.photo img{
    height: 50vh;
    border-radius: 100%;
}

.info{
    font-size: 2rem;
    padding-top: 13%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10%;
}

.info span {
    color: #61dafb;
}